apiVersion: v1
kind: Service
metadata:
  name: sample-app
  namespace: sample-app
spec:
  selector:
    app: sample-app
  ports:
    - port: 80         # the service port
      targetPort: 8080 # the port your Flask app listens on
      protocol: TCP

